:root {
  --header-height: 80px;
  --footer-height: 56px;

  --color-primary: #EBE1BA;
  --color-secondary: #D5A166;
  --color-tertiary: #A5ACA4;
  --color-quaternary: #719F97;
  --color-text: #4C4D48;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 24px;
  color: var(--color-text);
  background-color: var(--color-primary);
}

header,
footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header {
  height: var(--header-height);
  color: var(--color-quaternary);
  background-color: var(--color-text);
}

footer {
  height: var(--footer-height);
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

h1, h2 {
  text-transform: capitalize;
  font-feature-settings: "smcp";
}

h1 {
  margin: 0;
}

main {
  min-height: calc(100% - var(--header-height));
  margin-bottom: calc(-1 * var(--footer-height));
  padding: 16px;
  box-sizing: border-box;
}

.climate {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.gauge {
  display: inline-flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  border: 2px solid var(--color-tertiary);
  padding: 16px;
  border-radius: 16px;
  max-width: 300px;
}

.gauge h2 {
  text-align: center;
  border-bottom: 1px solid var(--color-tertiary);
  text-transform: capitalize;
  margin: 0 0 8px;
}

.gauge__value {
  text-transform: capitalize;
}

.gauge .button {
  align-self: center;
}

.button {
  background-color: transparent;
  color: var(--color-text);
  padding: 6px 14px;
  border: 2px solid var(--color-tertiary);
  border-radius: 16px;
  font-family: sans-serif;
  font-size: 24px;
}

.button:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

.button:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: var(--color-quaternary);
}

.button:active {
  background-color: var(--color-quaternary);
}