:root {
  --header-height: 80px;
  --footer-height: 56px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 24px;
}

header,
footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: dodgerblue;
}

header {
  height: var(--header-height);
}

footer {
  height: var(--footer-height);
}

h1 {
  margin: 0;
  text-transform: capitalize;
  text-decoration: italic;
}

main {
  min-height: calc(100% - var(--header-height));
  margin-bottom: calc(-1 * var(--footer-height));
  padding: 16px;
  box-sizing: border-box;
}

.climate {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.gauge {
  display: inline-flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  border: 1px solid dodgerblue;
  padding: 16px;
  border-radius: 16px;
}

.gauge h2 {
  text-transform: capitalize;
  margin: 0 0 8px;
}

.gauge__value {
  text-transform: capitalize;
}

.gauge .button {
  align-self: center;
}

.button {
  background-color: steelblue;
  color: white;
  padding: 6px 14px;
  border: 2px solid transparent;
  border-radius: 16px;
  font-family: sans-serif;
  font-size: 24px;
}

.button:hover {
  border-color: dodgerblue;
}

.button:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: black;
}

.button:active {
  background-color: gray;
}